Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.

Mobile Games AB Testing with Cookie Cats

In [2]:
from scipy.stats import ttest_1samp
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, shapiro, pearsonr

from statsmodels.stats import proportion
from statsmodels.stats.power import TTestIndPower

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [4]:
data = pd.read_csv('cookie_cats.csv')

In [6]:
data.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [8]:
data.isna().sum()

userid            0
version           0
sum_gamerounds    0
retention_1       0
retention_7       0
dtype: int64

In [14]:
data.userid.count()

90189

In [15]:
data.userid.nunique()

90189

Повторяющихся значений нет.

In [17]:
data.version.value_counts()

gate_40    45489
gate_30    44700
Name: version, dtype: int64

В выборках приблизительно одинаковое распределение.

In [18]:
data.describe()

             userid  sum_gamerounds
count  9.018900e+04    90189.000000
mean   4.998412e+06       51.872457
std    2.883286e+06      195.050858
min    1.160000e+02        0.000000
25%    2.512230e+06        5.000000
50%    4.995815e+06       16.000000
75%    7.496452e+06       51.000000
max    9.999861e+06    49854.000000

In [21]:
data[data['sum_gamerounds']>0]

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[86195 rows x 5 columns]

In [25]:
data.query("sum_gamerounds == 0").userid.count()

3994

Из общего числа пользователей, установивших игру, есть доля, которые не играют.

In [26]:
data_retention = data[["retention_1","retention_7"]].mean()*100
print(f"Коэффициент удержания за 1 день: {round(data_retention[0],2)}% \
      \nКоэффициент удержания за 7 дней: {round(data_retention[1],2)}%")

Коэффициент удержания за 1 день: 44.52%
Коэффициент удержания за 7 дней: 18.61%

In [35]:
k1 = data.query('version == "gate_30"').retention_1.sum()
k2 = data.query('version == "gate_30"').retention_7.sum()
k1, k2,

(20034, 8502)

In [34]:
m1 = data.query('version == "gate_40"').retention_1.sum()
m2 = data.query('version == "gate_40"').retention_7.sum()
m1, m2

(20119, 8279)

Из проведенного анализа можем сделать следующие выводы: в выборке принимали участие одинаковое количество человек.
большое число пользователей, которые установили программу, не играли и не заходили в нее после установки, что говорит о не целевой аудитории.
коэффициент удержания игроков после 7 дней резко падает по сравнению с 1 днемным тестом, т.е. активность игроков падает, соответственно падает активность и внутри игры.
Также, из анализа видим, что в первой выборке, когда ворота были установлены на 30, игроков зашло столько же приблизительно, сколько и во второй выборке. Однако через 7 дней анализ показывает, что число оставшихся игроков, из первой выборки выше, чем во второй, где ворота были установлены на отметке 40.
Если мы хотим развивать игру и повышать вовлеченность игроков, то стоит оставить первый варинт игры с воротами на уровне 30.